// ======== Colors ========

$primary_color_500: #c34747;
$primary_color_700: #6f2525;

$secondary_color_300: #f4c56e;
$secondary_color_500: #f2b237;
$secondary_color_700: #cc8b15;

$light_400: #b7cfd9;
$light_500: #a8bfc9;

$dark_300: #4c626c;
$dark_400: #1f3640;
$dark_500: #192a33;
$dark_700: #102129;

$green_800: #2e5026;

// ======= Border radius ====

$border_radius_300: 6px;

// ======= Width =========

$small_screen_width: 260px;
$big_screen_width: 360px;

// ======= Break points ==

$small_screen: 450px;
