@import './Constants.scss';

.game-selection {
  .edit-players-names {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .reminder {
      text-align: center;
      color: $light_500;
      margin: 2px;
      margin-top: 15px;
    }

    label {
      display: flex;
      flex-direction: column;
      color: $light_500;
      font-weight: bold;

      .label-tag {
        display: flex;
        justify-content: space-between;
      }
    }
    input {
      margin-top: 7px;
      border-radius: $border_radius_300;
      padding: 8px 2px;
      font-size: 15px;
      background-color: $light_400;
      color: $dark_500;
      font-weight: bold;
      min-width: $small_screen_width;
      border: 3px solid $light_400;
      box-shadow: 4px 6px $dark_700;
    }

    input:focus {
      outline: none;
      border: 3px solid $secondary_color_300;
    }

    @media (min-width: $small_screen) {
      input {
        min-width: $big_screen_width !important;
      }
    }
  }

  .grid-selection {
    color: $light_500;
    font-weight: bold;
    text-align: center;

    h3 {
      text-decoration: underline;
    }

    .grid-selection-container {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      min-width: $small_screen_width;

      label {
        padding-right: 5px;
      }

      input {
        accent-color: $secondary_color_500;
        width: 14px;
        height: 14px;
      }
    }
  }

  .game-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    button {
      width: $small_screen_width;
      padding: 10px;
      font-weight: bold;
      color: $dark_500;
      font-size: 18px;
    }

    .cpu-button {
      background-color: $secondary_color_500;
      box-shadow: 0 4px $secondary_color_700;
    }

    .player-button {
      background-color: $primary_color_500;
      box-shadow: 0 4px $primary_color_700;
    }

    @media (min-width: $small_screen) {
      button {
        min-width: $big_screen_width !important;
      }
    }
  }
}
